<link href="//libs.baidu.com/fontawesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<style>
	.button {
		width:20%; 
		height:35px;
	}
	.input-text{
		line-height: 30px;
		width: 75%;
		margin-left:5px;
	}
	.content{
		height:450px;
		width:95%;
		margin:5px;
		border-radius: 3px;
	}
    .hall-block {
        text-align: center;
        padding: 0.3em 1em;
        border-radius: 3px;
        margin: 5px;
        box-shadow: 1px 1px 5px #888888;
    }
    #logo {
        font-size: 3em;
        background: #1f8dd6;
        line-height: 30px;
	}
	.submit-block {
		text-align: center;
		margin: 5px;
	}
</style>
<div>
<div id="logo" class="hall-block">时客</div>

<div align="center">
    <block tpl-id="message-hall">
        <textarea readonly="readonly" class="content">
            {{#each data}}
            {{this.content}}
            {{/each}}
        </textarea><br/>
    </block>
</div>
<div class='.submit-block'>
    <input id="messageInput" type="text" class="input-text" placeholder="说点什么:"/>
	<button type="submit" class="messageSubmit button">发送</button>
</div>
</div>
