<link href="//libs.baidu.com/fontawesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<style>
    .store-block {
        text-align: center;
        padding: 0.3em 1em;
        border-radius: 3px;
        margin: 5px;
        box-shadow: 1px 1px 3px #D3D1D1;
    }

    #logo {
        font-size: 1.5em;
        background: #1f8dd6;
        color: #fff;
        line-height: 30px;
    }

    #store-info {
        text-align: left;
        padding: 0.3em;
        font-size: 1em;
        background: white;
    }

    #social {
        border-top: 1px solid #F2F3F2;
        margin-top: 5px;
    }

    #store-logo, .recommend-logo {
        width: 70px;
        height: 70px;
        margin: 5px;
        border-radius: 35px;
        float: left;
    }

    #store-detail, .recommend-detail {
        display: table-cell;
        margin-left: 5px;
        width: 100%;
        word-wrap: nowrap;
    }

    .recommend-desc {
        height: 1.2em;
        overflow-y: hidden;
    }

    #store-name, .recommend-name {
        font-size: 1.3em;
        font-weight: bold;
        line-height: 40px;
        margin-bottom: -4px;
    }

    .info-text {
        background: rgb(252, 223, 223);
        padding: 2px;
        border-radius: 1px;
    }

    .recommend {
        text-align: left;
        padding: 0.3em;
        font-size: 1em;
        height: 80px;
        background: white;
    }

    .next {
        height: 80px;
        display:table-cell;
        vertical-align: middle;
        font-size:1.5em;
        width: auto;
        color: #cccccc;
    }

    .table {
        display: table;
    }

    .cell {
        display: table-cell;
    }

    .cell-1-4 {
        display: table-cell;
        width: 25%;
        vertical-align: middle;
        text-align: center;
    }

    .cell-1-4 > img {
        vertical-align: middle;
        width: 95%;
        border-radius: 5px;
    }

    #social-chat, #social-share {
        font-size: 1.4em;
        padding: 7px 0px;
    }
</style>
<div id="logo" class="store-block">时客</div>
<block tpl-id="waitinfo_container">
<div id="store-info" class="store-block">
    <img id="store-logo" src="{{waitinfo.picture}}" alt="store logo">
    <div id="store-detail">
        <span id="store-name">{{waitinfo.store_name}}</span>
        <div id="waiting-area">
            <div>
                <span>等位号 <span class="info-text">{{waitinfo.user_id}}</span></span>
                <span style="margin-left: 5px;">前面还有 <span class="info-text">{{waitinfo.num_front}}</span> 人</span>
            </div>
            <div style="margin-top: 5px;">
                <span style="margin-top: 2px;">预计还需要等 <span class="info-text">{{waitinfo.time_to_wait}}</span> 分钟</span>
            </div>
        </div>
    </div>

    <div id="social">
        <div style="text-align: center;padding-top:5px;" class="pure-g">
            <div id="social-chat" class="pure-u-1-2"><i class="fa fa-comment"></i>&nbsp;等位聊天室</div>
            <div id="social-share" class="pure-u-1-2"><i class="fa fa-share"></i>&nbsp;分享</div>
        </div>
    </div>
</div>
</block>

<div style="margin: 10px 5px;border-bottom: 1px solid #eee;">
还要等这么久，不如去看看下面的东西吧～
</div>

<block tpl-id="storeinfo_container">
    {{#each data}}
    <div class="store-block recommend" onclick="window.open('/store?id={{id}}');">
        <img class="recommend-logo" src="{{picture}}" alt="store logo">
        <div class="recommend-detail">
            <span class="recommend-name">{{name}}</span>
            <div>
                <div class="recommend-desc">{{description}}</div>
                <div class="recommend-cost">一般耗时 <span class="info-text">{{cost_time}}</span> 分钟</div>
            </div>
        </div>
        <i class="next fa fa-chevron-right"></i>
    </div>
    {{/each}}
</block>

<div style="margin: 10px 5px;border-bottom: 1px solid #eee;">
百度轻应用，无需下载，即点即用
</div>

<block tpl-id="lightapp_container">
    <div class="store-block recommend table">
        {{#each recoapp}}
            <a href='{{this.url}}' class="cell-1-4"><img src='{{this.pic}}'/></a>
        {{/each}}
    </div>
</block>
