<link href="//libs.baidu.com/fontawesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<style>
    .store-block {
        text-align: center;
        padding: 0.3em 1em;
        border-radius: 3px;
        margin: 5px;
        box-shadow: 1px 1px 5px #888888;
    }

    #logo {
        font-size: 1.5em;
        background: #1f8dd6;
        color: #fff;
        line-height: 30px;
    }

    #store-info {
        text-align: left;
        padding: 0.3em;
        font-size: 1em;
        height: 80px;
        color: #fff;
        background: rgb(28, 184, 65);
    }

    #store-logo, .recommend-logo {
        width: 70px;
        height: 70px;
        margin: 5px;
        border-radius: 35px;
        float: left;
    }

    #store-detail, .recommend-detail {
        display: table-cell;
        margin-left: 5px;
        width: 100%;
        word-wrap: nowrap;
    }

    #store-name, .recommend-name {
        font-size: 1.3em;
        font-weight: bold;
        line-height: 40px;
    }

    .info-text {
        background: rgb(202, 60, 60);
        padding: 2px;
        border-radius: 1px;
    }

    .recommend {
        text-align: left;
        padding: 0.3em;
        font-size: 1em;
        height: 80px;
        color: #fff;
        background: rgb(223, 117, 20);
    }

    .next {
        height: 80px;
        display:table-cell;
        vertical-align: middle;
        font-size:1.5em;
        width: auto;
    }

    .table {
        display: table;
    }

    .cell {
        display: table-cell;
    }

    #social {
        color: #fff;
        background: rgb(66, 184, 221);
    }
</style>
<div id="logo" class="store-block">时客</div>
<block tpl-id="waitinfo_container">
<div id="store-info" class="store-block">
    <img id="store-logo" src="{{waitinfo.picture}}" alt="store logo">
    <div id="store-detail">
        <span id="store-name">{{waitinfo.store_name}}</span>
        <div id="waiting-area">
            <div>
                <span>等位号 <span class="info-text">{{waitinfo.user_id}}</span></span>
                <span style="margin-left: 5px;">前面还有 <span class="info-text">{{waitinfo.num_front}}</span> 人</span>
            </div>
            <div style="margin-top: 5px;">
                <span style="margin-top: 2px;">预计还需要等 <span class="info-text">{{waitinfo.time_to_wait}}</span> 分钟</span>
            </div>
        </div>
    </div>
</div>

<div id="social" class="store-block">
    <div style="text-align: center" class="pure-g">
        <div id="social-chat" class="pure-u-1-2"><i class="fa fa-comment"></i>
            <!--<a href="/hall?storeid={{waitinfo.store_id}}&waitnum={{waitinfo.user_id}}" target="_blank">-->
            等位聊天室</div>
        <div id="social-share" class="pure-u-1-2"><i class="fa fa-share"></i>分享</div>
    </div>
</div>
</block>

<div style="margin: 10px 5px;border-bottom: 2px solid #eee;">
还要等这么久，不如去看看下面的东西吧～
</div>

<block tpl-id="storeinfo_container">
    {{#each data}}
    <div class="store-block recommend">
        <img class="recommend-logo" src="{{picture}}" alt="store logo">
        <div class="recommend-detail">
            <span class="recommend-name">{{name}}</span>
            <div>
                <div class="recommend-disc">{{description}}</div>
                <div class="recommend-disc">一般耗时 <span class="info-text">{{cost_time}}</span> 分钟</div>
            </div>
        </div>
        <i class="next fa fa-chevron-right"></i>
    </div>
    {{/each}}
</block>
